@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Montserrat&family=Oleo+Script+Swash+Caps&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: #134266;
    padding: 5px 0;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #1a5d91;
    color: #FCE172;
    padding: 35px;
}

.home-title {
    color: #134266;
    font-family: "Fredericka the Great", "Oleo Script Swash Caps", Garamond;
    font-size: 2em;
}

#hero-img {
    width: 100%;
}

#hero-msg h1, #heromesg h4 {
    text-align: center;
}

h4 {
    color: #134266;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#background {
    height: 725px;
    background-color: #79C5D7;
}

body {
    background-color: white;
    font-family: "Montserrat", Helvetica, Arial;
    font-size: 32px;
    padding: 0;
    margin: 0;
}

h2 {
    margin: 0;
}


.book {
    background-color: white;
    color: #134266;
    text-decoration: none;
    font-size: .75em;
    padding: 15px 30px;
    border-radius: 5px;
}

.book:hover {
    background-color: #cecece;
    color: black;
}

.join {
    background-color: #FCE172;
    color: #134266;
    text-decoration: none;
    font-size: .75em;
    padding: 15px 30px;
    border-radius: 5px;
}

.join:hover {
    background-color: #ecc839;
    color: black;
}

.card-img {
    border: 10px solid #fce172;
}

.msg {
    background-color: #FCE172;
    font-size: .8em;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: #134266;
    font-family: "Fredericka the Great", "Oleo Script Swash Caps", Garamond;
}

.msg p {
    color: #134266;
    padding-bottom: 15px;
}

footer {
    background-color: #134266;
    color: white;
    padding: 25px 50px;
}

footer p {
    font-size: .6em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #79C5D7;  
}

.social img {
    padding-top: 15px;
}