@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Homemade+Apple&display=swap');



body {
    max-width: 2000px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: repeat(4, 7em) auto;
    column-gap: 1em;
    background: #89A246;
    padding: .2em;
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 80px;
    z-index: 1;
}

header .current_page {
    color: #A81916;
    font-size: 1.5em;
}

.logo {
    width: 100%;
    max-width: 100px;
    grid-column: 1/2;
}

a {
    width: 100%;
    text-align: center;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    color: white;
}

a:hover {
    color: #A81916;
    font-size: 1.25em;
}

#home-page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
    margin-right: .5em;
    margin-left: .5em;
    padding: 1em;
    background: #647241;
    column-gap: .15em;
}

h1 {
    font-size: 3em;
    font-family: "Homemade Apple", "Fredericka the Great", Brush-Script-MT;
    grid-column: 2/3;
    text-align: center;
    color: white;
    margin: 0 auto;
}

h2 {
    font-size: 1.75em;
    font-family: "Homemade Apple", "Fredericka the Great", Brush-Script-MT;
    color: white;
    grid-column: 1/4;
    margin: 1em .5em .25em .5em;
}

p {
    font-family: Helvetica, Georgia;
    color: white;
    grid-column: 1/4;
    line-height: 1.5em;
    margin: 0 .5em 1.5em .5em;
}



#images-row {
    grid-column: 1/4;
    grid-row: 6/7;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #89A246;
}
/*main img {
    max-width: 90%;
    border: .5em solid #89A246;
    margin: auto;
*/

.text {
    color: white;
    font-size: 1em;
    text-align: center;
}


.meme-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: auto;
}
.meme-container img {
    padding: .25em;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 95%;
}
.meme-overlay {
    padding: .25em;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0 auto;
    opacity: 0;
    transition: .5s ease;
    background-color: #89A246;
    width: 95%;
}
.meme-container:hover .meme-overlay {
    opacity: .85;
}


.flowers-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: auto;
}
.flowers-container img {
    padding: .25em;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 95%;
}
.flowers-overlay {
    padding: .25em;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0 auto;
    opacity: 0;
    transition: .5s ease;
    background-color: #89A246;
    width: 95%;
}
.flowers-container:hover .flowers-overlay {
    opacity: .85;
}


.mushroom-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: auto;
}
.mushroom-container img {
    padding: .25em;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 95%;
}
.mushroom-overlay {
    padding: .25em;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0 auto;
    opacity: 0;
    transition: .5s ease;
    background-color: #89A246;
    width: 95%;
}
.mushroom-container:hover .mushroom-overlay {
    opacity: .85;
}


footer {
    padding: 1em;
    background: #89A246;
    text-align: center;
    color: white;
}




/* Page 2 - Plants & Tips */

.plants_tips{
    
    background-color: #89A246;
}

.banner {
    width: 100%;
    position: fixed;
    top: 75px;
    left: 0;
    right: 0;
    bottom: auto;
    z-index: -1;
    max-width: 1200px;
    margin: 0 auto;
}

#p2-content {
    display: grid;
    grid-template-columns: 3fr 5px 2fr;
    margin-top: 700px;
    margin-right: .5em;
    margin-left: .5em;
    padding: 1em;
    background: #647241;
}

section h2 {
    text-align: center;
}

.block-1 {
    grid-column: 1/2;
}

.block-1 p {
    margin-top: 2em;
    text-align: left;
}

.images-container {
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #89A246;
}

.images-container p {
    text-align: center;
}

.p2-img {
    width: auto;
    margin: 1em auto .5em;
    max-width: 90%;
}

.block-2 {
    grid-column: 1/4;
}
.block-3 {
    grid-column: 1/4;
}



/* Page 3 - Enjoy the Harvest*/

#p3-content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: 400px;
    margin-right: .5em;
    margin-left: .5em;
    padding: 1em;
    background: #647241;
    max-width: 1600px;
}

#p3-text {
    grid-column: 1/4;
    background-color: #89A246;
    margin: 1em;
}

#p3-img-container {
    grid-column: 1/4;
    display: flex;
    max-width: 1600px;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

#roasted {
    margin: auto;
    max-width: 30%;
    border: 5px solid #89A246;
}

#tomatoes {
    margin: auto .25em;
    max-width: 40%;
    border: 5px solid #89A246;
}

#bucket {
    margin: auto;
    max-width: 30%;
    border: 5px solid #89A246;
}


