body {
    background: gray;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

img {
    background: white;
    width: 50%;
    height: auto;
    grid-column: 1/3;
    grid-row: 1/2;
}

.tart {
    font-size: 17em;
    z-index: 1;
    grid-column: 1/3;
    grid-row: 1/2;
    align-self:top;
    margin: .5em auto;
    
}

.cherries {
    font-size: 8em;
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 4em auto;
    color: rgb(148, 41, 41)
}